/** 
\
 \
  \
   \
   	 		**** Code pattern ****
 	Sorting the rules in  letters alphabet order . OK?
 	"Yes, my english is one trash"
   /
  /
 /
/
**/
/* VAR
*****************/
/* FONT-FACE
*****************/
@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf"); }
@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf"); }
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro/SourceSansPro-Semibold.ttf"); }
/* EFFECT
*****************/
/* Standard syntax */
@keyframes roda-gigante {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }
/* CLASS
*****************/
.col-10 {
  width: 10%; }

.col-20 {
  width: 20%; }

.col-30 {
  width: 30%; }

.col-40 {
  width: 40%; }

.col-50 {
  width: 50%; }

.col-60 {
  width: 60%; }

.col-70 {
  width: 70%; }

.col-80 {
  width: 80%; }

.col-90 {
  width: 90%; }

.col-100 {
  width: 100%; }

.display-inline {
  display: inline-block; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.row {
  width: 100%;
  display: inline-block; }

.text-center {
  text-align: center; }

.text-overflow {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

* {
  box-sizing: border-box; }

html, body {
  background-color: #524E5A;
  font-family: 'Open Sans Regular';
  height: 100%;
  margin: 0; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

main > header {
  height: 300px;
  position: relative;
  width: 100%; }
  main > header nav {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 45%;
    z-index: 1; }
    main > header nav img {
      padding: 10px; }
    main > header nav:nth-of-type(2) {
      text-align: right; }
      main > header nav:nth-of-type(2) li {
        display: inline-block;
        margin-right: 30px; }
      main > header nav:nth-of-type(2) a {
        color: #524e5a;
        font-size: 15px;
        font-weight: 600px;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 2s ease; }
        main > header nav:nth-of-type(2) a:hover {
          color: #7e7366; }
  main > header .animacoes {
    background-color: #eed584;
    background: #e9b27b linear-gradient(180deg, #eed584, #e9b27b) repeat-x;
    height: 300px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%; }
    main > header .animacoes img {
      bottom: -1px;
      left: -50px;
      min-width: 800px;
      position: absolute;
      width: calc(100% + 100px);
      z-index: 0; }
    main > header .animacoes .roda-gigante {
      top: -100%;
      animation: roda-gigante 360s infinite; }
    main > header .animacoes .nuvens {
      transition: left 2s ease; }
main section {
  width: 100%; }
  main section, main section a {
    color: #eceafa; }
  main section:last-child {
    padding-bottom: 50px; }
  main section > article, main section > header {
    margin: 0 auto;
    width: 800px; }
  main section > article img {
    max-width: 100% !important;
    height: auto; }
  main section h3 {
    color: #f0dc9e;
    font-size: 1.6em;
    letter-spacing: 2px;
    margin: 1.3em 0; }
    main section h3 a {
      color: #f0dc9e;
      text-decoration: none; }
  main section p {
    color: #eceafa;
    font-size: 1.13em;
    line-height: 1.5em; }

@media (max-width: 1024px) {
  main > header nav:nth-of-type(2) li {
    margin-right: 10px; } }
@media (max-width: 830px) {
  main > header {
    text-align: center; }
    main > header nav {
      display: block;
      text-align: center;
      width: 100%; }
      main > header nav img {
        padding: 0; }
    main > header nav:nth-of-type(2) {
      text-align: center; }
      main > header nav:nth-of-type(2) ul {
        line-height: 10px; }
      main > header nav:nth-of-type(2) li {
        display: block;
        margin-right: 10px; }
  main section {
    width: 100%; }
    main section > article, main section > header {
      padding: 0 10px;
      width: 100%; } }

/*# sourceMappingURL=style.css.map */
